<div class="formEdit">
    <form id="form1" action="/books/<%= bookDetails.id %>?_method=PUT" method="POST">        
        <input type="text" name="image" value="<%= bookDetails.image;%>" style="display: none;"><br>
        <input type="text" name="title" value="<%= bookDetails.title;%>"><br>
        <input type="text" name="isbn" value="<%= bookDetails.isbn;%>"><br>
        <input type="text" name="authors" value="<%= bookDetails.authors;%>"><br>
        <input type="text" name="description" value="<%= bookDetails.description;%>"><br>
        <button type="submit">Update book</button>
    </form>
    <!-- <button type="button" id="formButton">Show/hide Form!</button> -->
</div>